body {
    height: 100vh;
    background: linear-gradient(135deg, #377dff 0%, #2d1582 100%);
}
#container {
    display: flex;
}

#user-info {
    flex: 1;
    padding-right: 1.25rem;
    color: #fff;
}

img {
    width: 9.375rem;
    height: 9rem;
    border-radius: 50%;
    border:1px solid #fff;
}
#update-form {

max-width:43.75rem;
height:25rem;
width:100%;
background: #fff;
padding:.9375rem 1.25rem;
border-radius: .5rem; 
flex:1;
margin-top:9.375rem;

}
.form-title {
    font-size: 1.5625rem;
    font-weight: 600;
   
}

#update-form form .user-details {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
form .user-details .input-box {
    width: calc(100% / 2 - 1.25rem);
}
.user-details .input-box .details {
    display:block;
    font-weight: 500;
    margin-bottom:.3125rem;
    
}

.user-details .input-box  input {
    height:2.5rem;
    width:100%;
    border:.0625rem solid #282828;
    border-radius: .3125rem;
    font-size:1rem;
    transition:all .3s ease;
    padding:.3125rem;
}

.user-details .input-box  input:focus,
.user-details .input-box input:valid,
.user-details .input-box  .input:focus,
.user-details .input-box .input:valid{
    outline:none;
    border:1px solid #71b7e6;
}
.input {
    width: 100%;
    border: .0625rem solid #282828;
    border-radius: .3125rem;
    
}

.button {
    width: 100%;
    height: 100%;
    outline:none;
    border: none;
    border-radius: .3125rem;
    background: #71b7e6;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing:.0625rem;
    cursor: pointer;
    transition:all.3s ease;
    margin-top: 2.5rem;
}

.button:hover {
background: linear-gradient(to right, #f78e6e, #f8b500);
}


